name: Upload and Release Python Package

on:
  push:
    branches:
      - main  # 햒햨햟햤햦혝햣 햫혞햤햫혞혩 쒫왐햨혞 햢햩혪 혜쮏햢햟햫햦혪 햣햩햦향햟 햦 향햟햡혞향햨햦 햫햟 PyPi
  release:
    types: [published]

permissions:
  contents: write
  packages: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Print start message
      run: echo "Starting the GitHub Action workflow for Python package upload..."

    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python environment
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'

    - name: 游릭 Install 游분 VersionHawk
      run: |
        echo "Install 游분 VersionHawk..."
        python -m pip install --upgrade pip
        pip install versionhawk
        echo "Version <-"
        
    - name: 游릭游릭 Get 游분 VersionHawk
      run: echo "VERSION=$(versionhawk expedatetimemint)" >> $GITHUB_ENV

    - name: 游릭游릭游릭 Check 游분 VersionHawk
      run: |
          echo "游릭 The value of VERSION is $VERSION"

    - name: Build package
      run: |
        echo "Building the Python package..."
        python -m build

    - name: Get current date and time
      id: get_datetime
      run: echo "::set-output name=tag::v$(date +'%Y%m%d-%H%M%S')"

    - name: Create GitHub Release
      id: create_release
      uses: actions/create-release@v1
      with:
        tag_name: ${{ steps.get_version.outputs.tag }}  # 햊혜쮏혧향혞햣햪 햢햟혝혞 햦 쒬햣햪혪 햨햟햨 혝햣햡
        release_name: "Release ${{ steps.get_version.outputs.tag }}"  # 햏햟향쒫썛쫧쟳 햣햩햦향햟
        draft: false
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Publish package
      if: steps.create_release.outputs.upload_url != ''
      uses: pypa/gh-action-pypi-publish@v1.8.6
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
